@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background-color: #18181B;
    --text-color: #A1A1AA;
    --card-background-color: rgba(255, 255, 255, 0.015);
    --card-border-color: rgba(255, 255, 255, 0.1);
    --card-box-shadow-1: rgba(0, 0, 0, 0.05);
    --card-box-shadow-1-y: 3px;
    --card-box-shadow-1-blur: 6px;
    --card-box-shadow-2: rgba(0, 0, 0, 0.1);
    --card-box-shadow-2-y: 8px;
    --card-box-shadow-2-blur: 15px;
    --card-label-color: #FFFFFF;
    --card-icon-color: #D4D4D8;
    --card-icon-background-color: rgba(255, 255, 255, 0.08);
    --card-icon-border-color: rgba(255, 255, 255, 0.12);
    --card-shine-opacity: 0.1;
    --card-shine-gradient: conic-gradient(from 205deg at 50% 50%, rgba(16, 185, 129, 0) 0deg, rgba(16, 185, 129, 0.1) 90deg, rgba(16, 185, 129, 0) 180deg, rgba(16, 185, 129, 0.1) 270deg, rgba(16, 185, 129, 0) 360deg);
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgba(136, 136, 136, 0.11);
    border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
    background: #888;
}

::-webkit-scrollbar-thumb:horizontal {
    background: #888;
    border-radius: 2px;
    height: 5px;

}

:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    color: #0f0f0f;
    background-color: rgb(246, 246, 246);
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

* {
    box-sizing: border-box;
}

body {
    @apply rounded-t-md bg-transparent;
    width: 100%;
    height: 100%;
}

#root {
    width: 100%;
}

.container {
    margin: 0;
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: 0.75s;
}

.logo.tauri:hover {
    filter: drop-shadow(0 0 2em #24c8db);
}

.row {
    display: flex;
    justify-content: center;
}

h1 {
    text-align: center;
}

button {
    cursor: pointer;
}

button:hover {
    border-color: #396cd8;
}

#greet-input {
    margin-right: 5px;
}


.run-code-modal {
    @apply !w-[80vw] max-w-[995px] max-h-[calc(100vh-60px)] !top-11 !align-top !bg-[#20232a];
    padding: 0 !important;
}

.create-project-modal {
    @apply !w-[80vw] max-w-[90vw] max-h-[calc(100vh-60px)] !align-middle !p-0 !bg-[rgba(12,34,60,1)];
    box-shadow: -5px 5px rgba(170, 171, 170, 0.4), -10px 10px rgba(170, 171, 170, 0.3), -15px 15px rgba(170, 171, 170, 0.2), -20px 20px rgba(170, 171, 170, 0.1), -25px 25px rgba(170, 171, 170, 0.05) !important;

}

.confirm-code-modal {
    @apply !bg-[#20232a];
}

.wrapperModal {
    @apply overflow-hidden;
}

.input-hover {
    @apply focus:appearance-none focus:leading-5 focus:px-1 focus:py-2 focus:flex-grow;
}

.input-hover:focus {
    box-shadow: inset 0.1em 0.1em 0.2em #2c333b, inset -0.1em -0.1em 0.2em #949393;
}

.drag-window {
    -webkit-user-select: none;
    -webkit-app-region: drag;
}

.un-drag-window {
    -webkit-user-select: none;
    -webkit-app-region: no-drag;
}

.button-86 {
    background: url("../public/assests/createprojectimage.png") no-repeat center center;
    background-size: cover;
    border: none;
    border-radius: 10px;
    position: relative;
    color: #f0f0f0;
    cursor: pointer;
    z-index: 1;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-86::after,
.button-86::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -99999;
    transition: all .4s;
}

.button-86::before {
    transform: translate(0%, 0%);
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(40, 40, 45, 1), rgba(40, 40, 45, 0.9), rgba(40, 40, 45, 0.5));
    border-radius: 10px;
}

.button-86::after {
    transform: translate(10px, 10px);
    width: 35px;
    height: 35px;
    background: #ffffff15;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 50px;
}

.button-86:hover::before {
    transform: translate(0%, 0%);
    width: 100%;
    height: 100%;
}

.button-86:hover::after {
    border-radius: 10px;
    transform: translate(0, 0);
    width: 100%;
    height: 100%;
}

.button-86:active::after {
    transition: 0s;
    transform: translate(0, 5%);
}


.meteor::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 1px;
    background: linear-gradient(90deg, #64748b, transparent);
}

.projectCategoryCard:hover {
    position: relative;
    background: linear-gradient(71deg, #08050954, #1a171c46, #08050954);
    background-clip: padding-box;
    z-index: 1;
    transition: background 0.5s ease-in-out
}

.activeBackground {
    background: linear-gradient(71deg, #080509, #1a171c, #080509);
    background-clip: padding-box;
    transition: background 0.5s ease-in-out;
    color: white;
}
