.multiShadow{
  box-shadow: 3px 3px rgba(170, 171, 170, 0.4), 6px 6px rgba(170, 171, 170, 0.3), 9px 9px rgba(170, 171, 170, 0.2);
}

.createProjectButton {
  position: relative;
  &::after {
    position: absolute;
    content: "";
    top: 15px;
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    transform: scale(0.9) translateZ(0);
    filter: blur(15px);
    background: linear-gradient(
                    to left,
                    #ff5770,
                    #e4428d,
                    #c42da8,
                    #9e16c3,
                    #6501de,
                    #9e16c3,
                    #c42da8,
                    #e4428d,
                    #ff5770
    );
    background-size: 200% 200%;
    animation: animateGlow 1.25s linear infinite;
  }
}

@keyframes animateGlow {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}

.bottom-l:before {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  content: "";
  width: 1px;
  height: 9px;
  position: absolute;
  top: -4px;
}
.bottom-l:after {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  content: "";
  width: 9px;
  height: 1px;
  position: absolute;
  left: -4px;
}
.encryption {
  transition: .5s;
  mask-image: radial-gradient(300px circle at 0 0, #000 10%, rgba(0, 0, 0, .25), transparent);
  transform: scale(1.025);
}